<!DOCTYPE html>
<html>
  <head>
    <title>REACT SHOP</title>

    <link rel="stylesheet" type="text/css" href="<%- webpackAsset('vendors.css') %>" />
    <link rel="stylesheet" type="text/css" href="<%- webpackAsset('bundle.css') %>" />
  </head>
  <body>
    <div id='root'></div>
    <script type="text/javascript" src="<%- webpackAsset('vendors.js') %>"></script>
    <script type="text/javascript" src="<%- webpackAsset('bundle.js') %>"></script>
  </body>
</html>
